@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "ERİŞİM ENGELLENDİ";
}

<div class="container mt-5">
    <div class="mt-5 p-5 bg-danger text-white rounded">
        <h1>ERİŞİM ENGELLENDİ!</h1>
        <h2>Bu sayfaya erişim yetkiniz yoktur!</h2>
    </div>
</div>